* This file defines the screens which will receive tape mount info              
*                                                                               
* Lines which begin with * are comments.                                        
* Each line defines one screen. It contains two tokens. First is the            
* Virtual address of the screen. Second is its size in lines, and               
* third is its width in columns.                                                
*                                                                               
* MODIFICATION HISTORY:                                                         
* 06/06/94 - Roger - Add "foreign".                                             
* 05/10/94 - Roger - Change 4A0 from 32 lines to 24 lines.                      
*                                                                               
4A0 24 80                                                                       
4A1 24 80                                                                       
4A2 24 80                                                                       
4B0 32 80                                                                       
4B1 32 80                                                                       
*                                                                               
* Following list of userids are allowed to mount 'FOREIGN', even if             
* the tape is not theirs.                                                       
* FORMAT: FOREIGN <userid> <comments, such as user's name>                      
*                                                                               
FOREIGN VMCENTER Operator                                                       
FOREIGN U12860   Roger Deschner                                                 
FOREIGN U11154   Gao, Social Science Data Archive                               
FOREIGN U32472   Alan Hinds                                                     