* SPBACKUP CONFIG                                                               
*                                                                               
* (Comments are indicated by a * in column 1, like this line.)                  
*                                                                               
* List of authorized users for SPBACKUP                                         
*                                                                               
* The systems guy:                                                              
MAINT                                                                           
* The operator:                                                                 
OPERATOR                                                                        